header{
    background-color: var(--ctop-color-bg-2);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

header h1{
    color: var(--ctop-color-font-3);
    font-size: 24px;
}

