@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

:root {
    --ctop-color-bg-1: #fff;
    --ctop-color-bg-2: #F78B00;
    --ctop-color-bg-3: #00285F;

    --ctop-color-font-1: #000;
    --ctop-color-font-2: #585858;
    --ctop-color-font-3: #00285F;
    --ctop-color-font-4: #fff;
    --ctop-color-font-placeholder: #a7a7a7;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
a, a:hover{
    text-decoration: none;
    color: unset;
}
html, body{
    background-color:var(--ctop-color-bg-1);
}
main{
    padding: 0 0;
}

.ctop-container{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}